body{
    margin: 0;
    padding: 0;
    background-image:url(image/top-view-pet-accessories-food.jpg);
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
h1{
    width: 400px;
    text-align: center;
    margin-bottom: -30px;
    margin-top: 25px;
    margin-left: 35%;
    border: dashed;
    padding: 15px ;
    color: #070707;
    border-color: black;
}
.icon1-img {
    width: 300px;
    position: absolute;
    /*top: 50px;*/
    right: 22px;
}

.hero{
    width: 100%;
    height: 100vh;
    
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 90%;
    max-width: 600px;

}
.input-groub{
    margin-bottom: 30px;
    position: relative;
}
input,textarea{
    width: 100%;
    padding: 10px ;
    outline: 0;
    border: 1px solid #030303;
    background: transparent;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 10px;
    padding: 10px;
    color: #0c0c0c;
    cursor: text;
   /* transition: .02s;*/
}

.button {
    background-color:#acbcb2;
    width: 50%;
    margin-left: 150px;
    padding: 10px 0;
    outline: none;
    cursor: pointer;
   text-align: center;
   font-weight: bold;
  
  }
 